@{ Layout = "layout/main.cshtml"; }

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-money"></i> Donate CoiniumServ</h3>
            </div>
            <div class="box-body no-padding">
                <div class="callout callout-info">
                    <p>
                        <a href="https://github.com/bonesoul/CoiniumServ" target="_blank">
                            <img src="/Content/img/CoiniumServ.png" style="width: 16px; height: 16px; border: 0px;">
                            <strong>CoiniumServ</strong>
                        </a>
                        is an open-source & community-driven project aiming to develop next-gen crypto-currency pooled mining server software.
                        If you like the software, you can support the project by donating.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-bitcoin"></i> Directly send crypto currencies</h3>
            </div>
            <div class="box-body">
                You can directly donate to the following addresses;<br /><br />
                <ul>
                    <li>Bitcoin: <a href="bitcoin:3H1Bg5pYJCX262spwyinkiQXzvh1bQuSLZ?label=CoiniumServ%20Donation"><code>3H1Bg5pYJCX262spwyinkiQXzvh1bQuSLZ</code></a></li>
                    <li>Bitcoin Cash: <a href="bitcoincash:qz0xcemfhrrmfy4yngdcnyym7z2chmpy7ulc4825qk?label=CoiniumServ%20Donation"><code>qz0xcemfhrrmfy4yngdcnyym7z2chmpy7ulc4825qk</code></a></li>
                    <li>Ethereum: <a href="ethereum:0xa31d781583c5dc2a4551f465092949174bac1871?label=CoiniumServ%20Donation"><code>0xa31d781583c5dc2a4551f465092949174bac1871</code></a></li>
                    <li>Litecoin: <a href="litecoin:MPv7LseAAWLXNXujvrRiNF8Bbx7DtJKx5J?label=CoiniumServ%20Donation"><code>MPv7LseAAWLXNXujvrRiNF8Bbx7DtJKx5J</code></a></li>
                   <li>Dash: <a href="dash:Xr43BZo5yvGoHr98coskkYc4SioYwR1okw?label=CoiniumServ%20Donation"><code>Xr43BZo5yvGoHr98coskkYc4SioYwR1okw</code></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
